@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {

    background-color: black;

}

.buttons {
    display: flex;
    margin: 30px 0;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

button {
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: rgb(0, 255, 234);
    width: 110px;
}

button:hover {
    background-color: rgb(0, 179, 163);
    color: white;
    transition: ease-in-out 0.3s;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 20px;
    justify-content: center;
}

li {
    border: 2px solid rgb(0, 110, 255);
    border-radius: 5px;
    padding: 5px;

}

img {
    width: 100%;
    border-radius: 5px;
}

p {
    color: #ffffff;
}

.preco {
    font-weight: bold;
    color: rgb(0, 255, 234);
   
}